.gallery {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: space-between;
  gap: 50px;
  margin: 45px 0;
  padding: 55px;
  background-color: #f6f6f6;
  border-radius: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 25px 0;
    gap: 22px;
    padding: 0px;
    background-color: white;
  }
}
